@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins" , sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/img/Employee.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
           
}

.navbar-brand h6 {
    display: inline;
    margin-left: 10px;
    font-size: 24px;
}

.card-header {
    background-color: #343a40;
    color: #110303;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.card-footer {
    background-color: #343a40;
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
}
.form {
    margin-bottom: 20px;
}

.form label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 30px 31px rgba(56, 98, 4, 0.67);
    background: transparent;
    max-width: 400px;
    margin: 100px auto;

}

.btn-register {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #0c57d8;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-register:hover {
    background-color: #218838;
}
.form-group {
    margin-bottom: 20px;
}




