@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins" , sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/img/Employee.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
           
}.container {
    margin-top: 50px;
    
}

.card {
    border: 1px solid #098b3f;
    border-radius: 10px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    
}

.card-header {
    background-color: #007bff; 
    color: #010f04;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}.form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px; 
}

.card-body, .card-footer {
    padding: 20px;
}

.form-control {
    border-radius: 5px; 
}

.btn-success {
    background-color: #28a745; 
    border-color: #28a745; 
}

.btn-success:hover {
    background-color: #218838; 
    border-color: #1e7e34;
}

.text-danger {
    color: #dc3545; 
}